.slot-machine {
    margin-left: 50px;
    margin-top: 50px;
    width: 222px;
    height: 80px;
    background-color: lightyellow
}
.reel {
    border: 5px solid lightyellow;
    width: 64px;
    height: 64px;
    float: left;
}
.reel-1 {
    background: url('img/reel1/reel1.jpg') repeat-y;
}
.reel-2 {
    background: url('img/reel2/reel2.jpg') repeat-y;
}
.reel-3 {
    background: url('img/reel3/reel3.jpg') repeat-y;
}
.clear {
    clear: both;
}
.play-button {
    width: 222px;
    margin-left: 50px;
    background-color: orange;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.result {
    font-family: "Helvetica","Arial",sans-serif;
    color: black;
    font-size: 12px;
    background-color: lightyellow;
    width: 222px;
    margin-left: 50px;
    text-align: center;
    height: 45px;
}